/* make setting page richeditor toolbar autofix works */
.v-main__wrap > div {
  height: 100%;
  overflow: scroll;
  position: absolute;
  left: 0;
  top: 0;
}

/* Fix editor toolbar z-index passthrough  */
main.v-main {
  position: relative;
  z-index: 1;
}
