.redactor-toolbar {
  z-index: 5;
}

.redactor-styles {
  max-height: 50vh;
  overflow-y: auto;
}

.redactor-error .redactor-box.redactor-styles-on {
  border: 1px solid rgb(var(--v-theme-error));
}

.reactor-disable .redactor-box.redactor-styles-on {
  border: 1px solid rgba(var(--v-theme-on-surface), var(--v-high-emphasis-opacity));
}

.redactor-disable-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.05);
  pointer-events: all;
  z-index: 6;
}