/** rich text editor **/
.richEditor-content h1,
.richEditor-content h2,
.richEditor-content h3,
.richEditor-content h4,
.richEditor-content h5,
.richEditor-content h6 {
  font-weight: var(--cc-richEditor-base-text-weight-semibold, 600);
}

.richEditor-content ul,
.richEditor-content ol {
  padding-left: var(--cc-richEditor-list-text-padding-left, 2em);
  margin-bottom: var(--cc-richEditor-list-margin-bottom, 1em);
  margin-top: var(--cc-richEditor-list-margin-top, 1em);
}

.richEditor-content ul {
  list-style-type: disc;
}

.richEditor-content ol {
  list-style-type: decimal;
}

.richEditor-content b,
.richEditor-content strong {
  font-weight: var(--cc-richEditor-base-text-weight-semibold, 600);
}

.richEditor-content h1 {
  font-size: var(--cc-richEditor-base-text-size-h1, 2em);
  line-height: var(--cc-richEditor-base-text-line-height-h1, 1.25);
}

.richEditor-content h2 {
  font-size: var(--cc-richEditor-base-text-size-h2, 1.5em);
  line-height: var(--cc-richEditor-base-text-line-height-h2, 1.25);
}

.richEditor-content h3 {
  font-size: var(--cc-richEditor-base-text-size-h3, 1.25em);
  line-height: var(--cc-richEditor-base-text-line-height-h3, 1.25);
}

.richEditor-content h4 {
  font-size: var(--cc-richEditor-base-text-size-h4, 1em);
  line-height: var(--cc-richEditor-base-text-line-height-h4, 1.25);
}

.richEditor-content h5 {
  font-size: var(--cc-richEditor-base-text-size-h5, 0.875em);
  line-height: var(--cc-richEditor-base-text-line-height-h5, 1.25);
}

.richEditor-content h6 {
  font-size: var(--cc-richEditor-base-text-size-h6, 0.85em);
  line-height: var(--cc-richEditor-base-text-line-height-h6, 1.25);
  color: var(--cc-richEditor-base-text-color-h6, #57606a);
}

.richEditor-content a {
  color: var(
    --cc-richEditor-base-text-color-link,
    color-mix(in srgb, currentColor 80%, transparent)
  );
  text-decoration: var(--cc-richEditor-base-text-decoration-link, underline);
}

.tw-theme-h1 {
  font-family: var(--font-family-h1), var(--font-family-fallback);
}

.tw-theme-h2 {
  font-family: var(--font-family-h2), var(--font-family-fallback);
}

.tw-theme-p {
  font-family: var(--font-family-p), var(--font-family-fallback);
}

.tw-theme-filter-container {
  position: relative;
}

.tw-theme-filter-container::before {
  --color-opacity: 0.2;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(var(--color-brand), var(--color-opacity));
  z-index: 1;
  mix-blend-mode: multiply;
  pointer-events: none;
}

.tw-theme-bg-base {
  --color-opacity: 1;
  background-color: rgba(var(--color-base), var(--color-opacity));
}

.tw-theme-text-base {
  --color-opacity: 1;
  color: rgba(var(--color-base), var(--color-opacity));
}

.tw-theme-bg-brand {
  --color-opacity: 1;
  background-color: var(
    --tw-theme-bg-color,
    rgba(var(--color-brand), var(--color-opacity))
  );
}

.tw-theme-bg-brand-20 {
  --color-opacity: 0.2;
  background-color: var(
    --tw-theme-bg-color,
    rgba(var(--color-brand), var(--color-opacity))
  );
}

.tw-theme-text {
  --color-opacity: 1;
  color: rgba(var(--color-surface), var(--color-opacity));
}

.btn-primary {
  color: #fff;
  background-color: var(--pb-primary);
}

.btn-secondary {
  color: #fff;
  background-color: var(--pb-secondary);
}

.btn-info {
  color: #fff;
  background-color: var(--pb-info);
}

.btn-success {
  color: #fff;
  background-color: var(--pb-success);
}

.btn-error {
  color: #fff;
  background-color: var(--pb-error);
}

.btn-warning {
  color: #fff;
  background-color: var(--pb-warning);
}

/* .heroImageHorizontal h1{
  color: red;
} */

/* #heroImageHorizontal-26_International h1{
  color:#0091ff;
} */

.tw-theme-filter-container {
  border-radius: 8px;
  overflow: hidden;
}

.container-tailwind-example-header header ul {
  font-size: 20px;
}
