/* @import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Pacifico&display=swap'); */
@import url('https://rsms.me/inter/inter.css');

:root {
  /********************* <brand color scheme> *********************/

  /** global theme - present set1(default) **/
  --cc-color-base: 255, 255, 255;
  --cc-color-surface: 51, 51, 51;
  --cc-color-brand: 62, 99, 221;

  /** global theme - present set2 **/
  /* --cc-color-base: 47, 45, 39;
  --cc-color-surface: 255, 255, 255;
  --cc-color-brand: 137, 255, 176; */

  /** global theme - present set3 **/
  /* --cc-color-base: 255, 242, 185;
  --cc-color-surface: 153, 93, 15;
  --cc-color-brand: 229, 72, 77; */
  /* --cc-font-family-h1: 'Pacifico';
  --cc-font-family-h2: 'Times New Roman';
  --cc-font-family-p: 'Times New Roman'; */

  /** global theme - present kakuyasu **/
  /* --cc-color-base: 253, 244, 246;
  --cc-color-surface: 51, 51, 51;
  --cc-color-brand: 220, 66, 106; */

  /********************* <font family theme> *********************/

  /** global font family **/
  --cc-font-family-h1: '';
  --cc-font-family-h2: '';
  --cc-font-family-content: '';
  --cc-font-family-btn: '';
  --cc-font-family: InterVariable, system-ui, sans-serif;
  /** enable it by uncomment ⬇️*/
  /* --cc-container-background: #fff; */

  --cc-btn-border-radius: 4px;
  --cc-btn-background: rgb(var(--cc-color-brand));
  --cc-btn-color: rgb(var(--cc-color-base));
  --cc-btn-border-radius: 4px;
  --cc-image-border-radius: 0;

  /********************* <rich text editor variables> START *********************/

  /* richEditor h1~h6 */
  --cc-richEditor-base-text-weight-semibold: 600;
  --cc-richEditor-base-text-size-h1: 2em;
  --cc-richEditor-base-text-size-h2: 1.5em;
  --cc-richEditor-base-text-size-h3: 1.25em;
  --cc-richEditor-base-text-size-h4: 1em;
  --cc-richEditor-base-text-size-h5: 0.875em;
  --cc-richEditor-base-text-size-h6: 0.85em;
  --cc-richEditor-base-text-size-p: 1em;

  --cc-richEditor-base-text-line-height-h1: 1.25;
  --cc-richEditor-base-text-line-height-h2: 1.25;
  --cc-richEditor-base-text-line-height-h3: 1.25;
  --cc-richEditor-base-text-line-height-h4: 1.25;
  --cc-richEditor-base-text-line-height-h5: 1.25;

  --cc-richEditor-base-text-color-h6: #57606a;
  --cc-richEditor-base-text-color-link: var(rgba(currentColor, 0.8));
  /* richEditor link */
  --cc-richEditor-base-text-decoration-link: underline;
  --cc-richEditor-base-text-opacity-link: 0.8;
  --cc-richEditor-base-text-color-link: currentColor;
  /* richEditor list */
  --cc-richEditor-list-text-padding-left: 2em;
  --cc-richEditor-list-text-margin-bottom: 1em;
  --cc-richEditor-list-text-margin-top: 1em;
}
