:host {
  /** theme **/
  --color-base: 47, 45, 39;
  --color-surface: 255, 255, 255;
  --color-brand: 137, 255, 176;
  --font-family-default: "InterVariable", system-ui, sans-serif;

  /** container **/
  --color-background: 255, 255, 255;
  --color-text-color: 51, 51, 51;

  /** title **/
  --font-family-h1: "Monoton";
  --color-h1: 255, 255, 255;
  --font-family-h2: "";
  --color-h2: 255, 255, 255;

  /** paragraph **/
  --font-family-p: "";
  --color-p: 255, 255, 255;

  /** button **/
  --color-button-text: 220, 66, 106;
  --color-button-background: 255, 255, 255;
  --color-button-border: 1px solid #000;
  --color-button-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  --color-button-opacity: 1;
  --size-border-radius: 5px;

  /** layout of items **/
  --gap-horizontal: 10px;
  --gap-vertical: 10px;

  /** animation of items **/
  --animation-display: ease fadeIn 1s;

  /** order **/
  --item-order: 1;
}

/** style scope **/
/** for all common-container **/
.tw-theme-h1 {
}

/** for all common-container in template **/
/*TODO:*/

/** for same common-container **/
.heroImageHorizontal .tw-theme-h1 {
  color: red;
}

/** for specific common-container **/
#heroImageHorizontal-26_International .tw-theme-h1 {
  color: #0091ff;
}
