.tailwind-scope .tw-theme-h1 {
  font-family: var(--font-family-h1), var(--font-family-fallback);
}

.tailwind-scope .tw-theme-h2 {
  font-family: var(--font-family-h2), var(--font-family-fallback);
}

.tailwind-scope .tw-theme-p {
  font-family: var(--font-family-p), var(--font-family-fallback);
}

.tw-theme-filter-container {
  position: relative;
}

.tw-theme-filter-container::before {
  --color-opacity: 0.2;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(var(--color-brand), var(--color-opacity));
  z-index: 1;
  mix-blend-mode: multiply;
  pointer-events: none;
}

.tw-theme-bg-base {
  --color-opacity: 1;
  background-color: rgba(var(--color-base), var(--color-opacity));
}

.tw-theme-text-base {
  --color-opacity: 1;
  color: rgba(var(--color-base), var(--color-opacity));
}

.tw-theme-bg-brand {
  --color-opacity: 1;
  background-color: var(
    --tw-theme-bg-color,
    rgba(var(--color-brand), var(--color-opacity))
  );
}

.tw-theme-bg-brand-20 {
  --color-opacity: 0.2;
  background-color: var(
    --tw-theme-bg-color,
    rgba(var(--color-brand), var(--color-opacity))
  );
}

.tw-theme-text {
  --color-opacity: 1;
  color: rgba(var(--color-surface), var(--color-opacity));
}

.btn-primary {
  color: #fff;
  background-color: var(--pb-primary);
}

.btn-secondary {
  color: #fff;
  background-color: var(--pb-secondary);
}

.btn-info {
  color: #fff;
  background-color: var(--pb-info);
}

.btn-success {
  color: #fff;
  background-color: var(--pb-success);
}

.btn-error {
  color: #fff;
  background-color: var(--pb-error);
}

.btn-warning {
  color: #fff;
  background-color: var(--pb-warning);
}
