<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="black" name="apple-mobile-web-app-status-bar-style" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="format-detection" content="telephone=no" />
    <link
      href="https://the-plant.com/assets/app/container.4f902c4.css"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://rsms.me/inter/inter.css"
      rel="stylesheet"
      type="text/css"
    />
    <script type="text/javascript" src="https://cdn.tailwindcss.com"></script>
    <script
      type="text/javascript"
      src="//unpkg.com/alpinejs"
      defer="true"
    ></script>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
    <script type="text/javascript">
      try {
        tailwind.config = {
          theme: {
            extend: {
              fontFamily: {
                sans: ['InterVariable', 'sans-serif'],
              },
            },
          },
        }
      } catch (error) {
        console.log(error)
      }
    </script>

    <style>
      * {
        box-sizing: border-box;
      }
      .tailwind-scope {
        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        a,
        p {
          font-family: InterVariable, system-ui, sans-serif;
        }
      }
    </style>
  </head>
  <body>
    <div class="tailwind-scope">
      <div
        class="xl:min-h-[530px] md:min-h-[339px] min-h-[190px] bg-white text-[#212121] bg-no-repeat bg-cover"
        style="
          background-image: url(https://s3-alpha-sig.figma.com/img/2091/847f/23aed5f700c8474f29fededd296394ba?Expires=1734912000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=LmpcBano56oNL0jVh6IHDRhAMCfMVmM2N6yEMlo-TCcBlKIdB3eYBOLkOCZWY~arsOiotjZN~yByJbLBXEZOG3b5JTWyXMjcE6CuONVBTimfHftQEqLPssW4UjIhEc1Xyl~BMt~5BXD4vg8fNz5qb-pUOqQEcwXDMayVI7hf3gGIqjDkpqDB0Xb8~v6-sZsbP-AxOYZg65eKECq188sWftjRsqmt85WIJvcNjtiSQvdd0fCQz3fbft535yMNpzsX6c9M9L7~H3ySGlxFIR-qj-02Z-8Lcyu-GgKFf~p31u-qXzqTMr5tcRz6VVQ1bIraAvF0sCK~8k1nmWNQHUV7HQ__);
        "
      >
        <div
          x-data="{
            imageAspectRatio: '5 / 4',
            imageAspectRatioForCalc: '5 / 4',
            debounceTimer: null,
            debounceAdjust() {
              clearTimeout(this.debounceTimer);
              this.debounceTimer = setTimeout(() => {
                this.adjustAspectRatio();
              }, 500);
            },
            adjustAspectRatio() {
              this.$nextTick(() => {
                const leftHeight = this.$refs.leftContent.offsetHeight;
                const imageHeightForCalc = this.$refs.rightImageForCalc.offsetHeight;
                
                this.imageAspectRatioForCalc = '5 / 4';

                // console.log(leftHeight, imageHeightForCalc);

                if (leftHeight > imageHeightForCalc) {
                  this.imageAspectRatio = '3 / 4';
                } else {
                  this.imageAspectRatio = '5 / 4';
                }
              });
            },
            init() {

              const resizeObserver = new ResizeObserver(() => {
                this.debounceAdjust();
              });
              resizeObserver.observe(this.$refs.leftContent);
            }
          }"
          class="flex items-stretch justify-between xl:max-w-[1280px] mx-auto xl:p-[120px] md:p-[60px] p-8"
        >
          <div>
            <div x-ref="leftContent" class="flex flex-col h-full">
              <h1
                class="font-medium xl:text-[80px] md:text-[48px] text-[25.875px] xl:leading-[98px] md:leading-normal leading-[31.697px]"
              >
                This is a title
              </h1>
              <p
                class="xl:text-[24px] md:text-[22px] text-[12px] xl:py-10 md:py-6 py-3 font-medium xl:leading-[32px] leading-normal"
              >
                From end-to-end solutions to consulting, we draw on decades of
                From end-to-end solutions to consulting, we draw on decades of
                From end-to-end solutions to consulting, we draw on decades of
              </p>
              <div class="mt-auto">
                <button
                  class="bg-[#3E63DD] xl:text-[16px] md:text-[14px] xl:px-6 px-4 xl:py-3 md:py-2 py-[6px] rounded-[4px] text-white"
                >
                  Get Start
                </button>
              </div>
            </div>
          </div>
          <div
            class="xl:w-[500px] xl:min-h-[400px] md:min-h-[251px] min-h-[135px] relative md:w-[314px] w-[169px] overflow-hidden flex-shrink-0 xl:ml-10 md:ml-[20px] ml-3"
          >
            <div
              x-ref="rightImageForCalc"
              :style="`background-image: url(https://s3-alpha-sig.figma.com/img/90f2/44c4/b4f73ff2ff491f9dff7524de1755baf2?Expires=1734912000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=JxwQ6TtGoE48HBsxpABrZu4GimuBm0HGZK~23eZ~IHRpM27EYGSZpYoo26o6b6uSA3eoY5oyMkwzv0Z2VkdCYvXzRILYIolGcYo6DeUTbXeZRXAGZnAcVU-MqArnRR3cb4Hj7KPpN9X0UudO4k~QMIjt11FOuAstJjFuI~wx3fIisp~YCtilCjqM0zhyZun2gSPqhyeU4NTNAuKNYnx2En-4xj~5CMOI1Pv6yFwH91HWGFLgR-BaGt5XYhVw2OOpfyThK83dfoPJn3SrhJ0A~67f-JqsRr0SJmwaoHqkdCAx3hPIoatpKZNZc~AM25Wi0XvxLfiIDV73J6pBOGOiBg__); aspect-ratio: ${imageAspectRatioForCalc};`"
              class="absolute -z-10 bg-cover bg-center bg-no-repeat flex-shrink-0 xl:w-[500px] md:w-[314px] w-[169px]"
            ></div>
            <div
              x-ref="rightImage"
              :style="`background-image: url(https://s3-alpha-sig.figma.com/img/90f2/44c4/b4f73ff2ff491f9dff7524de1755baf2?Expires=1734912000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=JxwQ6TtGoE48HBsxpABrZu4GimuBm0HGZK~23eZ~IHRpM27EYGSZpYoo26o6b6uSA3eoY5oyMkwzv0Z2VkdCYvXzRILYIolGcYo6DeUTbXeZRXAGZnAcVU-MqArnRR3cb4Hj7KPpN9X0UudO4k~QMIjt11FOuAstJjFuI~wx3fIisp~YCtilCjqM0zhyZun2gSPqhyeU4NTNAuKNYnx2En-4xj~5CMOI1Pv6yFwH91HWGFLgR-BaGt5XYhVw2OOpfyThK83dfoPJn3SrhJ0A~67f-JqsRr0SJmwaoHqkdCAx3hPIoatpKZNZc~AM25Wi0XvxLfiIDV73J6pBOGOiBg__); aspect-ratio: ${imageAspectRatio};`"
              class="bg-cover absolute top-[50%] left-[50%] translate-x-[-50%] translate-y-[-50%] transition-all bg-center bg-no-repeat flex-shrink-0 xl:w-[500px] md:w-[314px] w-[169px]"
            ></div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
